<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="champion">
            <h2><span jhiTranslate="championSelectApp.champion.detail.title">Champion</span> {{champion.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="championSelectApp.champion.internalVersion">Internal Version</span></dt>
                <dd>
                    <span>{{champion.internalVersion}}</span>
                </dd>
                <dt><span jhiTranslate="championSelectApp.champion.lastModified">Last Modified</span></dt>
                <dd>
                    <span>{{champion.lastModified}}</span>
                </dd>
                <dt><span jhiTranslate="championSelectApp.champion.riotId">Riot Id</span></dt>
                <dd>
                    <span>{{champion.riotId}}</span>
                </dd>
                <dt><span jhiTranslate="championSelectApp.champion.riotKey">Riot Key</span></dt>
                <dd>
                    <span>{{champion.riotKey}}</span>
                </dd>
                <dt><span jhiTranslate="championSelectApp.champion.version">Version</span></dt>
                <dd>
                    <span>{{champion.version}}</span>
                </dd>
                <dt><span jhiTranslate="championSelectApp.champion.name">Name</span></dt>
                <dd>
                    <span>{{champion.name}}</span>
                </dd>
                <dt><span jhiTranslate="championSelectApp.champion.title">Title</span></dt>
                <dd>
                    <span>{{champion.title}}</span>
                </dd>
                <dt><span jhiTranslate="championSelectApp.champion.blurb">Blurb</span></dt>
                <dd>
                    <span>{{champion.blurb}}</span>
                </dd>
                <dt><span jhiTranslate="championSelectApp.champion.attack">Attack</span></dt>
                <dd>
                    <span>{{champion.attack}}</span>
                </dd>
                <dt><span jhiTranslate="championSelectApp.champion.defence">Defence</span></dt>
                <dd>
                    <span>{{champion.defence}}</span>
                </dd>
                <dt><span jhiTranslate="championSelectApp.champion.magic">Magic</span></dt>
                <dd>
                    <span>{{champion.magic}}</span>
                </dd>
                <dt><span jhiTranslate="championSelectApp.champion.difficulty">Difficulty</span></dt>
                <dd>
                    <span>{{champion.difficulty}}</span>
                </dd>
                <dt><span jhiTranslate="championSelectApp.champion.movementSpeed">Movement Speed</span></dt>
                <dd>
                    <span>{{champion.movementSpeed}}</span>
                </dd>
                <dt><span jhiTranslate="championSelectApp.champion.attackRange">Attack Range</span></dt>
                <dd>
                    <span>{{champion.attackRange}}</span>
                </dd>
                <dt><span jhiTranslate="championSelectApp.champion.armorFlat">Armor Flat</span></dt>
                <dd>
                    <span>{{champion.armorFlat}}</span>
                </dd>
                <dt><span jhiTranslate="championSelectApp.champion.armorPerLevel">Armor Per Level</span></dt>
                <dd>
                    <span>{{champion.armorPerLevel}}</span>
                </dd>
                <dt><span jhiTranslate="championSelectApp.champion.spellBlockFlat">Spell Block Flat</span></dt>
                <dd>
                    <span>{{champion.spellBlockFlat}}</span>
                </dd>
                <dt><span jhiTranslate="championSelectApp.champion.spellBlockPerLevel">Spell Block Per Level</span></dt>
                <dd>
                    <span>{{champion.spellBlockPerLevel}}</span>
                </dd>
                <dt><span jhiTranslate="championSelectApp.champion.criticalFlat">Critical Flat</span></dt>
                <dd>
                    <span>{{champion.criticalFlat}}</span>
                </dd>
                <dt><span jhiTranslate="championSelectApp.champion.criticalPerLevel">Critical Per Level</span></dt>
                <dd>
                    <span>{{champion.criticalPerLevel}}</span>
                </dd>
                <dt><span jhiTranslate="championSelectApp.champion.attackDamageFlat">Attack Damage Flat</span></dt>
                <dd>
                    <span>{{champion.attackDamageFlat}}</span>
                </dd>
                <dt><span jhiTranslate="championSelectApp.champion.attackDamagePerLevel">Attack Damage Per Level</span></dt>
                <dd>
                    <span>{{champion.attackDamagePerLevel}}</span>
                </dd>
                <dt><span jhiTranslate="championSelectApp.champion.attackSpeedFlat">Attack Speed Flat</span></dt>
                <dd>
                    <span>{{champion.attackSpeedFlat}}</span>
                </dd>
                <dt><span jhiTranslate="championSelectApp.champion.attackSpeedPerLevel">Attack Speed Per Level</span></dt>
                <dd>
                    <span>{{champion.attackSpeedPerLevel}}</span>
                </dd>
                <dt><span jhiTranslate="championSelectApp.champion.resourceFirstType">Resource First Type</span></dt>
                <dd>
                    <span jhiTranslate="{{'championSelectApp.ChampionResourceType.' + champion.resourceFirstType}}">{{champion.resourceFirstType}}</span>
                </dd>
                <dt><span jhiTranslate="championSelectApp.champion.resourceSecondType">Resource Second Type</span></dt>
                <dd>
                    <span jhiTranslate="{{'championSelectApp.ChampionResourceType.' + champion.resourceSecondType}}">{{champion.resourceSecondType}}</span>
                </dd>
                <dt><span jhiTranslate="championSelectApp.champion.resourceFirstPoolFlat">Resource First Pool Flat</span></dt>
                <dd>
                    <span>{{champion.resourceFirstPoolFlat}}</span>
                </dd>
                <dt><span jhiTranslate="championSelectApp.champion.resourceFirstPoolPerLevel">Resource First Pool Per Level</span></dt>
                <dd>
                    <span>{{champion.resourceFirstPoolPerLevel}}</span>
                </dd>
                <dt><span jhiTranslate="championSelectApp.champion.resourceFirstRegenerationFlat">Resource First Regeneration Flat</span></dt>
                <dd>
                    <span>{{champion.resourceFirstRegenerationFlat}}</span>
                </dd>
                <dt><span jhiTranslate="championSelectApp.champion.resourceFirstRegenerationPerLevel">Resource First Regeneration Per Level</span></dt>
                <dd>
                    <span>{{champion.resourceFirstRegenerationPerLevel}}</span>
                </dd>
                <dt><span jhiTranslate="championSelectApp.champion.resourceSecondPoolFlat">Resource Second Pool Flat</span></dt>
                <dd>
                    <span>{{champion.resourceSecondPoolFlat}}</span>
                </dd>
                <dt><span jhiTranslate="championSelectApp.champion.resourceSecondPoolPerLevel">Resource Second Pool Per Level</span></dt>
                <dd>
                    <span>{{champion.resourceSecondPoolPerLevel}}</span>
                </dd>
                <dt><span jhiTranslate="championSelectApp.champion.resourceSecondRegenerationFlat">Resource Second Regeneration Flat</span></dt>
                <dd>
                    <span>{{champion.resourceSecondRegenerationFlat}}</span>
                </dd>
                <dt><span jhiTranslate="championSelectApp.champion.resourceSecondRegenerationPerLevel">Resource Second Regeneration Per Level</span></dt>
                <dd>
                    <span>{{champion.resourceSecondRegenerationPerLevel}}</span>
                </dd>
                <dt><span jhiTranslate="championSelectApp.champion.tags">Tags</span></dt>
                <dd>
                    <span *ngFor="let tags of champion.tags; let last = last">
                        <a [routerLink]="['/champion-tag', tags?.id, 'view' ]">{{tags.id}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/champion', champion.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
