<div>
    <h2 id="page-heading">
        <span jhiTranslate="championSelectApp.champion.home.title">Champions</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-champion" [routerLink]="['/champion/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="championSelectApp.champion.home.createLabel">
            Create new Champion
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="champions">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="riotId"><span jhiTranslate="championSelectApp.champion.riotId">Riot Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="riotKey"><span jhiTranslate="championSelectApp.champion.riotKey">Riot Key</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="version"><span jhiTranslate="championSelectApp.champion.version">Version</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="name"><span jhiTranslate="championSelectApp.champion.name">Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="title"><span jhiTranslate="championSelectApp.champion.title">Title</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="blurb"><span jhiTranslate="championSelectApp.champion.blurb">Blurb</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let champion of champions ;trackBy: trackId">
                <td><a [routerLink]="['/champion', champion.id, 'view' ]">{{champion.id}}</a></td>
                <td>{{champion.riotId}}</td>
                <td>{{champion.riotKey}}</td>
                <td>{{champion.version}}</td>
                <td>{{champion.name}}</td>
                <td>{{champion.title}}</td>
                <td>{{champion.blurb}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/champion', champion.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/champion', champion.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'champion/'+ champion.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
