<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="image">
            <h2><span jhiTranslate="championSelectApp.image.detail.title">Image</span> {{image.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="championSelectApp.image.widthStart">Width Start</span></dt>
                <dd>
                    <span>{{image.widthStart}}</span>
                </dd>
                <dt><span jhiTranslate="championSelectApp.image.heightStart">Height Start</span></dt>
                <dd>
                    <span>{{image.heightStart}}</span>
                </dd>
                <dt><span jhiTranslate="championSelectApp.image.widthEnd">Width End</span></dt>
                <dd>
                    <span>{{image.widthEnd}}</span>
                </dd>
                <dt><span jhiTranslate="championSelectApp.image.heightEnd">Height End</span></dt>
                <dd>
                    <span>{{image.heightEnd}}</span>
                </dd>
                <dt><span jhiTranslate="championSelectApp.image.group">Group</span></dt>
                <dd>
                    <span>{{image.group}}</span>
                </dd>
                <dt><span jhiTranslate="championSelectApp.image.sprite">Sprite</span></dt>
                <dd>
                    <span>{{image.sprite}}</span>
                </dd>
                <dt><span jhiTranslate="championSelectApp.image.full">Full</span></dt>
                <dd>
                    <span>{{image.full}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/image', image.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
