<div>
    <h2 id="page-heading">
        <span jhiTranslate="championSelectApp.championTag.home.title">Champion Tags</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-champion-tag" [routerLink]="['/champion-tag/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="championSelectApp.championTag.home.createLabel">
            Create new Champion Tag
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="championTags">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="championSelectApp.championTag.tag">Tag</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let championTag of championTags ;trackBy: trackId">
                <td><a [routerLink]="['/champion-tag', championTag.id, 'view' ]">{{championTag.id}}</a></td>
                <td jhiTranslate="{{'championSelectApp.ChampionTagValue.' + championTag.tag}}">{{championTag.tag}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/champion-tag', championTag.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/champion-tag', championTag.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'champion-tag/'+ championTag.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
