.choice-card {
    padding: 1.5%;
    margin-top: 20px;
    border: none;
}

.card-image {
    display: inline-block;
    width: 347px;
    height: 497px;
    background: url('../../../content/images/xayah.png') no-repeat center top;
    background-size: contain;
}

a {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
