<div class="row">
    <div class="column">
        <img src="../../content/images/kayn-bg.png" class="bg">
        <div class="font bottom-left">CHAMPIONS</div>
        <img class="font top-left" src="../../content/images/league-logo.png" style="z-index: 3; position: absolute;">
    </div>
    <div class="column">
        <img src="../../content/images/sd-bg.png" class="bg">
        <div class="font-big top-right">Solo Dive</div>
        <div class="font bottom-right">MEMBERS</div>
    </div>
</div>

