/* ==========================================================================
Main page styles
========================================================================== */

.column {
    float: left;
    text-align: center;
    color: white;
    width: 50%;
    overflow: hidden;
}

/* Clear floats after image containers */
.row::after {
    content: '';
    clear: both;
    display: table;
}

.font {
    font-family: Cormorant, Times, serif;
    font-size: 29px;
    font-weight: bold;
    color: #ffe4b2;
    letter-spacing: 8px;
}

.font-big {
    font-family: Cormorant, Times, serif;
    font-size: 106px;
    font-weight: medium;
    color: #c8a971;
}

.bottom-left {
    position: fixed;
    left: 19%;
    bottom: 35%;
}

.bottom-right {
    position: fixed;
    bottom: 35%;
    right: 19%;
}

.top-left {
    position: fixed;
    bottom: 39%;
    left: 17%;
}

.top-right {
    position: fixed;
    bottom: 39%;
    right: 13%;
}

img.bg {
    width: 100%;
    opacity: 1;
    transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
    transition: transform 1s;
}

.column:hover img.bg {
    opacity: 0.95;
    transition: opacity 0.55s ease-in-out;
    -moz-transition: opacity 0.55s ease-in-out;
    -webkit-transition: opacity 0.55s ease-in-out;
    transform: scale(1.1);
    transition: transform 1s;
}

a {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (-moz-min-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
    .champions {
        background-image: url('../../content/images/kayn-bg.png');
        background-position: center;
    }
    .members {
        background-image: url('../../content/images/sd-bg.png');
        background-position: center;
    }
}
