/* ==========================================================================
Main page styles
========================================================================== */

.column {
    float: left;
    text-align: center;
    color: white;
    width: 50%;
}

/* Clear floats after image containers */
.row::after {
    content: '';
    clear: both;
    display: table;
}

.font {
    font-family: Cormorant, Times, serif;
    font-size: 29px;
    font-weight: bold;
    color: #ffe4b2;
}

.font-big {
    font-family: Cormorant, Times, serif;
    font-size: 106px;
    font-weight: medium;
    color: #c8a971;
}

.bottom-left {
    position: absolute;
    left: 373px;
    bottom: 458px;
}

.bottom-right {
    position: absolute;
    bottom: 458px;
    right: 360px;
}

.top-right {
    position: absolute;
    top: 300px;
    right: 220px;
}

.top-left {
    position: absolute;
    top: 200px;
    left: 233px;
}

.circle {
    position: absolute;
    height: 44px;
    width: 44px;
    background-color: #ffe4b2;
    border-radius: 50%;
}

a {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (-moz-min-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
    .champions {
        background-image: url('../../content/images/kayn-bg.png');
        background-position: center;
    }
    .members {
        background-image: url('../../content/images/sd-bg.png');
        background-position: center;
    }
}
