<div class="row">
    <a href="https://onet.pl" class="column">
        <img src="../../content/images/kayn-bg.png" class="bg">
        <img class="top-left" src="../../content/images/league-logo.png">
        <div class="font bottom-left">CHAMPIONS</div>
        <img class="bottom-left-left" src="../../content/images/kreska_champ_l.png">
        <img class="bottom-left-right" src="../../content/images/kreska_champ_r.png">
    </a>
    <a href="https://tvn24.pl" class="column">
        <img src="../../content/images/sd-bg.png" class="bg">
        <div class="font-big top-right">Solo Dive</div>
        <div class="font bottom-right">MEMBERS</div>
        <img class="bottom-right-left" src="../../content/images/kreska_sd_l.png">
        <img class="bottom-right-right" src="../../content/images/kreska_sd_r.png">
    </a>
</div>

